body {
    margin: 0;
    background: linear-gradient(to top, #1e3c72 1%,#1e3c72 1% , #2a5298 100%);
    overflow-y: hidden;
}

.night {
    height: 80vh;
    width: 70vw;
    margin: 5rem auto;
    border: 1px solid black;
    background: url(images/Img_1.png);
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.surface {
    height: 140px;
    width: 1000%;
    background: url(images/Img_02.png);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
   
}

.car {
    position: absolute;
    bottom: 0;
    left: 24%;

    
}

@keyframes moveRight {
    100% {
        transform: translateX(-2950px);
    }
}

@keyframes suspension {
    100% {
        transform: translateY(-1px);
    }
    
    50% {
        transform: translateY(2px);
    }
    
    0% {
        transform: translateY(1px);
    }
}

.moveRight {
    animation: moveRight 6s linear infinite;
}

.suspension {
    animation: suspension 1s linear infinite;
}

